/**
 * partials/header
 * ---
*/
/*

// Header container


// Logo
.logo {
  width: 35%;
  max-width: 160px;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 7%;
}

.logo-img {}
*/
nav {
  background-color: $primary-color;
}
.secondary-nav {
  background-image: linear-gradient(to right,$secondary-color, $primary-color);
  color: white;
}
.secondary-nav p {
  padding: 0px;
  margin: 0px;
}
.header {}
