/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */
// @import url('https://fonts.googleapis.com/css?family=Hind:400,700|Roboto+Slab');
// $font-family-base: 'Roboto Slab', serif;
// $font-family-secondary: 'Hind', sans-serif;
// $font-size-base: 1.6rem;

/**
 * Colors
 */

// $text-color: #000;
// $body-bg: #fff;
$primary-color: #8CD0E3;
$primary-color-dark: #73D2E6;
$primary-color-light: #E3F6FA;
$secondary-color: #F08CCD;
$highlight-color: #FBF6B5;

/**
 * Grid
 */
